# === Shell and Startup ===
shell-integration = zsh
command = /bin/zsh -l -c "tmux new -A -s default"

# === Environment ===
term = "xterm-256color"

# === Window ===
macos-option-as-alt = left
window-padding-x = 5
window-padding-y = 5

# === Scrolling ===
scrollback-limit = 20000

# === Font ===
font-family = MesloLGS NF
font-style = Regular
font-thicken = true
# font-size = 14.0

# === Cursor ===
cursor-style = block
cursor-style-blink = true

# === Theme ===
theme = dark:Catppuccin Mocha,light:Catppuccin Latte

# === Colors ===
bold-is-bright = true

